.modal-content, .modal-card {
    width: calc(100% - 4em);

    @media screen and (min-width: 1022px) {
        width: 1022px;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin-top: auto;
}

.checked {
    color: orange;
}

.star {
    cursor: pointer;
}