<footer class="footer mt-6">
    <div class="container is-max-widescreen">
        <div class="content has-text-centered">
            <p>
                Copyright © 2023 <a href="https://hci.comp.hkbu.edu.hk" target="_blank"><strong>PI Lab</strong></a>. All Rights Reserved.
            </p>
            <a href="https://www.comp.hkbu.edu.hk" target="_blank"><img src="/static/img/comp-logo.png"
                                                                        alt="logo"
                                                                        style="height: 30px; margin-right: 20px"></a>
            <a href="https://hkbu.edu.hk" target="_blank"><img src="/static/img/bu-logo.png" alt="logo"
                                                               style="height: 30px;"></a>

        </div>
    </div>
</footer>