<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="app">
    {% include 'loading.html' %}
    <template v-else>
        {% include 'navbar.html' %}
        <template v-if="category.length > 0 && userRates.length > 0">
            {% if recommendations %} {% include 'recommendations.html' %} {% endif %}
            {% if likes_similars %} {% include 'similar_liked.html' %} {% endif %}
            {% if likes %} {% include 'liked_courses.html' %} {% endif %}
        </template>
        {% include 'category_modal.html' %}
        {% include 'courses_modal.html' %}
        {% include 'footer.html' %}
    </template>
</div>
<script type="module">
    import {createApp, onMounted, ref} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    let app = createApp({
        setup() {
            const isLoading = ref(true)
            const isActivityNavBar = ref(false)

            // ==== Vue default operations ====
            onMounted(() => {
                isLoading.value = false

                showCategory.value = category.value.length === 0
                showCourseRate.value = (category.value.length > 0 && userRates.value.length === 0)
            })

            function cleanAll() {
                if (confirm("Are you sure to delete all records?")) {
                    document.cookie = "user_category=; Max-Age=0";
                    document.cookie = "user_subcategory=; Max-Age=0";
                    document.cookie = "user_price_ranges=; Max-Age=0";
                    document.cookie = "user_num_lectures_ranges=; Max-Age=0";
                    document.cookie = "user_content_length_minutes_ranges=; Max-Age=0";
                    document.cookie = "user_rates=; Max-Age=0";
                    document.cookie = "user_likes=; Max-Age=0";
                    reloadPage()
                }
            }

            // ==== Genre Operation ====
            const showCategory = ref(false)
            const category = ref({{user_category | tojson}}) // If this place shows error, please check the format: ref({{user_category | tojson}})
            const subcategory = ref({{user_subcategory | tojson}}) // If this place shows error, please check the format: ref({{user_subcategory | tojson}})
            const price_ranges = ref({{user_price_ranges | tojson}}) // If this place shows error, please check the format: ref({{price_ranges | tojson}})
            const num_lectures_ranges = ref({{user_num_lectures_ranges | tojson}}) // If this place shows error, please check the format: ref({{num_lectures_ranges | tojson}})
            const content_length_minutes_ranges = ref({{user_content_length_minutes_ranges | tojson}}) // If this place shows error, please check the format: ref({{content_length_minutes_ranges | tojson}})

            function updateCategory(_id) {
                let id = _id.toString()
                const index = category.value.indexOf(id);
                if (index > -1) {
                    category.value.splice(index, 1);
                } else {
                    category.value.push(id);
                    category.value = category.value.sort(function (a, b) {
                        return a - b;
                    });
                }
            }

            function updateSubCategory(_id) {
                let id = _id.toString()
                const index = subcategory.value.indexOf(id);
                if (index > -1) {
                    subcategory.value.splice(index, 1);
                } else {
                    subcategory.value.push(id);
                    subcategory.value = subcategory.value.sort(function (a, b) {
                        return a - b;
                    });
                }
            }

            function updatePriceRange(_id) {
                let id = _id.toString()
                const index = price_ranges.value.indexOf(id);
                if (index > -1) {
                    price_ranges.value.splice(index, 1);
                } else {
                    price_ranges.value.push(id);
                    price_ranges.value = price_ranges.value.sort(function (a, b) {
                        return a - b;
                    });
                }
            }

            function updateNumLecturesRange(_id) {
                let id = _id.toString()
                const index = num_lectures_ranges.value.indexOf(id);
                if (index > -1) {
                    num_lectures_ranges.value.splice(index, 1);
                } else {
                    num_lectures_ranges.value.push(id);
                    num_lectures_ranges.value = num_lectures_ranges.value.sort(function (a, b) {
                        return a - b;
                    });
                }
            }

            function updateContentLengthMinutesRange(_id) {
                let id = _id.toString()
                const index = content_length_minutes_ranges.value.indexOf(id);
                if (index > -1) {
                    content_length_minutes_ranges.value.splice(index, 1);
                } else {
                    content_length_minutes_ranges.value.push(id);
                    content_length_minutes_ranges.value = content_length_minutes_ranges.value.sort(function (a, b) {
                        return a - b;
                    });
                }
            }


            function inCategory(id) {
                return category.value.includes(id.toString())
            }

            function inSubCategory(id) {
                return subcategory.value.includes(id.toString())
            }

            function inPriceRange(id) {
                return price_ranges.value.includes(id.toString())
            }

            function inNumLecturesRange(id) {
                return num_lectures_ranges.value.includes(id.toString())
            }

            function inContentLengthMinutesRange(id) {
                return content_length_minutes_ranges.value.includes(id.toString())
            }

            function saveCategory() {
                document.cookie = "user_category=" + category.value;
                document.cookie = "user_subcategory=" + subcategory.value;
                document.cookie = "user_price_ranges=" + price_ranges.value;
                document.cookie = "user_num_lectures_ranges=" + num_lectures_ranges.value;
                document.cookie = "user_content_length_minutes_ranges=" + content_length_minutes_ranges.value;
                document.cookie = "user_rates=; Max-Age=0";
                reloadPage()
            }

            function saveSubcategory() {
                document.cookie = "user_rates=; Max-Age=0";
                reloadPage()
            }

            function savePriceRanges() {
                document.cookie = "user_price_ranges=" + price_ranges.value;
                document.cookie = "user_rates=; Max-Age=0";
                reloadPage()
            }

            function saveNumLecturesRanges() {
                document.cookie = "user_num_lectures_ranges=" + num_lectures_ranges.value;
                document.cookie = "user_rates=; Max-Age=0";
                reloadPage()
            }

            function saveContentLengthMinutesRanges() {
                document.cookie = "user_content_length_minutes_ranges=" + content_length_minutes_ranges.value;
                document.cookie = "user_rates=; Max-Age=0";
                reloadPage()
            }

            // ==== Course Rate Operation ====
            const showCourseRate = ref(false)
            const userRates = ref({{user_rates | tojson}}) // If this place shows error, please check the format: ref({{user_rates | tojson}})

            function getRate(courseId) {
                for (let index in userRates.value) {
                    let record = userRates.value[index].split('|')
                    if (parseInt(record[1]) === courseId) {
                        return [index, record[2]]
                    }
                }

                return [-1, -1]
            }

            function updateRate(courseId, rate) {
                let record = '611' + '|' + courseId + '|' + rate + '|' + '0' //  total 610 users, so the new user id is 944

                const index = getRate(courseId)[0];
                if (index > -1) {
                    userRates.value[index] = record;
                } else {
                    userRates.value.push(record);
                }
                document.cookie = "user_rates=" + userRates.value;
            }

            // ==== Course Like Operation ====
            const userLikes = ref({{user_likes | tojson}}) // If this place shows error, please check the format: ref({{user_likes | tojson}})

            function updateLike(_courseId) {
                let courseId = _courseId.toString()
                const index = userLikes.value.indexOf(courseId);
                if (index > -1) {
                    userLikes.value.splice(index, 1);
                } else {
                    userLikes.value.push(courseId);
                }

                document.cookie = "user_likes=" + userLikes.value;

                reloadPage();
            }
            function inLikes(courseId) {
                return userLikes.value.includes(courseId.toString())
            }


            function reloadPage() {
                location.reload();
            }

            return {
                isLoading,
                isActivityNavBar,
                cleanAll,

                showCategory,
                category,
                subcategory,
                price_ranges,
                num_lectures_ranges,
                content_length_minutes_ranges,

                updateCategory,
                updateSubCategory,
                updatePriceRange,
                updateNumLecturesRange,
                updateContentLengthMinutesRange,

                inCategory,
                inSubCategory,
                inPriceRange,
                inNumLecturesRange,
                inContentLengthMinutesRange,

                saveCategory,
                saveSubcategory,
                savePriceRanges,
                saveNumLecturesRanges,
                saveContentLengthMinutesRanges,
                
                showCourseRate,
                userRates,
                getRate,
                updateRate,

                userLikes,
                updateLike,
                inLikes,

                reloadPage,
            }
        }
    })

    // Reset the Vue delimiters and Mount it
    app.config.compilerOptions.delimiters = ['[[', ']]']
    app.mount('#app')

</script>
</body>
</html>