<section class="my-8 pt-2 pb-0">
  <div class="container mx-auto px-4">
    <h3 class="text-xl text-center font-semibold">Recommended</h3>
    <p class="mb-3">{{ recommendations_message }}</p>

    <!-- Using grid instead of flex -->
    <div class="grid grid-cols-5 gap-4">
      {% for course in recommendations %}
      <div class="col-span-1">
        <div
          class="bg-white rounded-lg overflow-hidden shadow h-full flex flex-col"
        >
          <div class="flex-grow aspect-w-3 aspect-h-4">
            <a
              href="{{ 'https://www.udemy.com'+course['course_url'] }}"
              target="_blank"
            >
              <img
                src="{{ course['cover_url'] }}"
                onerror="this.src='https://placehold.co/480x640?text=No+Cover';"
                alt=""
                class="object-cover w-full h-full"
              />
            </a>
          </div>
          <div class="p-2 flex flex-col flex-grow">
            <p class="text-xs font-bold">{{ course['title'] }}</p>
            <span
              class="my-2 inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
            >
              <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
              {{ course['topic'] }}
            </span>
            <span
              class="my-2 inline-flex items-center bg-yellow-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
            >
              <span class="w-2 h-2 me-1 bg-yellow-500 rounded-full"></span>
              Avg. rating: {{ course['avg_rating'] }}
            </span>
            <span
              class="my-2 inline-flex items-center bg-gray-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
            >
              <span class="w-2 h-2 me-1 bg-gray-500 rounded-full"></span>
              # Lectures: {{ course['num_lectures'] }}
            </span>
            <span
              class="my-2 inline-flex items-center bg-blue-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full"
            >
              <span class="w-2 h-2 me-1 bg-blue-500 rounded-full"></span>
              ${{ course['price'] }}
            </span>
          </div>
          <div class="p-2 text-center">
            <button
              class="w-full bg-transparent hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 border border-gray-400 rounded"
              @click="updateLike({{course['id']}})"
            >
              <span
                :class="['fa fa-heart', inLikes({{course['id']}}) ? 'text-red-500' : '']"
              >
                Like</span
              >
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
